body {
    background-color: black;
    color:white;
    align-items: center;
    
}
img{
    
    width:70%;
    height: 5% ;
}
footer{
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center;
}