*{
    margin:0;
    border:0;
    padding:0;
}

html{

    font-family: arial;
}

header{
    background: linear-gradient(to top, #B2D7EE,  #F7E98E);
    color: #fff;
    width: 100%;
    font-size: 1.8rem;
    padding: 1rem;
        
}

footer{
    background: linear-gradient(to bottom, #B2D7EE, #F7E98E);
    color: #fff;
    width: 100%;
    text-align: center;

}

.conteudo{
    font-size: 1.6rem;
    background-color: #fff;
    padding: 1rem;
    margin:0 auto;
    text-align: justify;
    max-width: 80%;
   
}

figure{
    text-align: center;
}

.imagens-site{
    border-radius: 20px;
    width: 90%;
    height: 30%;
    
    
}

.imagens-site:hover{
    border-radius: 20px;
    width: 90%;
    height: 30%;
    opacity: 0.7;
    
    
}

@media(min-width:280px) and (max-width:450px){
    .imagens-site{
        border-radius: 20px;
        width: 90%;
        height: 30%;
    }
}

p{
    text-align: center;
}

h1{
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 1px  #F7E98E;
    color: #B2D7EE;
}

h2{
    font-size: 1.9rem;
}

h3{
    font-size: 1.7rem;
}

h4{
    font-size: 1.6rem;
}

#grid-conteudo{
    background-color: #fff;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid div{
    background-color: #fff;
    text-align: center;
    padding: 2px;
}

nav{
    text-align: right;
    font-size: 1rem;
    word-spacing: 10px;
    margin-right: 5%;
    padding-bottom: 2px;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover{
    color:#B2D7EE;
    
}

