*{
    font-family: Arial, Helvetica, sans-serif !important;
}
body{
    background-color: white;
    color: black;
}
h1 {
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black; 
}
.card-text {
    text-align: left; /* Alinha o texto à esquerda */
    margin-left: 0; /* Garante que o texto fique encostado na borda, se necessário */
}


.container {
    margin-top: 0px;
}
.container2 {
    margin-top: 0px;
}


h3 {
    margin-bottom: 10px;
    color: #000000; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


input[type="number"] {
    width: 60px;
    margin-left: 10px;
}

img {
    width: 100%;
    max-width: 200px; 
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    background-color:  #054c80;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #054c80; 
}

#total {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.card {
    transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out;
    background-color: white;
    box-shadow: 12px 8px 15px#1b7ec5;

}

.card img {
    transition: transform 0.2s ease-in-out;
    width: 100px;
    height: 150px;
}

.card:hover {
    background-color: white;
}

.card:hover img {
    transform: scale(1.1);
}





/* CSS BOB  */
*{
    color: black;
}
/*botao login*/
.login-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #054c80;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color: #054c80;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.login-button:active {
    background-color: #054c80;
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#nav_bar{
     background: linear-gradient(to right, #0764A6,  #9ec9e7);
    width: 100%;
    height: 100px;

}
#nav_bar a {
    color: #ffffff; 
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    text-decoration: none; 
    margin: 0 20px; 
}

#logo{
    width: 90px;
    height: 80px;
}
html{

    font-family: arial;
}

header{
    color: #fff;
    background-color: 0764A6;
    font-size: 1.8rem;
        
}

footer{
    background: linear-gradient(to right, #0764A6,  #9ec9e7);
    color: #fff;
    width: 100%;
    text-align: center;

}

.conteudo{
    font-size: 1.6rem;
    background-color: #fff;
    padding: 1rem;
    margin:0 auto;
    text-align: justify;
    max-width: 80%;
   
}

figure{
    text-align: center;
}

.imagens-site{
    border-radius: 20px;
    width: 90%;
    height: 60%;
    
    
}

.imagens-site:hover{
        opacity: 0.7;
}
#bob_gif{
    width: 500px;
    
}
/* @media(min-width:280px) and (max-width:450px){
    .imagens-site{
        border-radius: 20px;
        width: 90%;
        height: 30%;
    }
} */

p{
    text-align: center;
    font-family: 'Arial', sans-serif;
}

h1{
    font-size: 2rem;
    text-align: center;
    
}

h2{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}

h4{
    font-size: 1.6rem;
}
h5{
    font-size: 1.5rem;
    text-align:center;


}

#grid-conteudo{
    background-color: #fff;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid div{
    background-color: #fff;
    text-align: center;
    padding: 2px;
}

nav{
    text-align: right;
    font-size: 1rem;
    word-spacing: 10px;
    margin-right: 5%;
    padding-bottom: 2px;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
/* conteudo texto e imagem */

.texto-imagem {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;
}

.texto-imagem .texto {
    flex: 1; 
    text-align: left; 
    font-size: 1rem;
    color: #000000;
}

.texto-imagem .imagem img {
    max-width: 300px; 
    height: auto;
    border-radius: 10px; 
}


.texto-imagem2 {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.texto-imagem2 .texto2 {
    flex: 1;
    text-align: right; 
    font-size: 1rem;
    color: #000000;
}

.texto-imagem2 .imagem2 img {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
}
